# Methods

<b>df.drop_duplicates</b>() - drops all duplicate values
 * inplace = True inside brackets performs the method on the dataframe itself instead of creating a new one

<b>df.column_name.isin</b>([]) - returns corresponding boolean values to if value in column is inside given list
 * must be in list inside bracket

<b>df.column_name.isnull/notnull</b>() - returns corresponding boolean values to if value in column is null/not null (NAN)

<b>df.sample</b>(frac/n) - returns a random part of the dataframe by a fraction/number of columns

<b>df.nlargest/nsmallest</b>(n, column_name) - shows n largest/smallest number of items in specified column

<b>df.filter</b>(regex) - filters specific columns matching condition under regex

<b>df.nunique</b>() - number of unique values in column

<b>df.assign</b>() - appends a new column onto the existing dataframe
 * format: column = values or lambda x

<b>pd.qcut</b>(dataframe_name, cut_levels, labels) - for a dataframe/column, divide into cut_level levels and change values
according to the label

<b>df[column_name].clip</b>() - 

<b>df[column_name].abs</b>() - returns all numbers under absolute value

<b>pd.concat</b>() - adds two series/dataframes by row (while merge adds them by columns)
 * must have same column names in order to add them together. If a column name does not match, the values are filled in as NA
 
<b>df[column_name].rolling</b>(window) - similar to shift: pushes down the values by number specified on window
 * initial values are filled with NA
 
<b>df[column_name].diff</b>() - takes a difference of current and previous values
 * same result as df[column_name] - df[column_name].shift(1)

In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(1000, 4),
                 index = pd.date_range('1/1/2015', periods = 1000),
                 columns = ['A', 'B', 'C', 'D'])

In [4]:
df

                   A         B         C         D
2015-01-01 -1.015154  0.330101 -1.559197 -1.143020
2015-01-02  1.146883  2.906189  1.521168 -0.280470
2015-01-03 -1.058374  1.511130  0.742467 -0.497716
2015-01-04 -0.389523 -1.065511 -0.127363  0.697476
2015-01-05  0.996855  0.181490 -2.376596  1.078072
...              ...       ...       ...       ...
2017-09-22  1.622127 -0.897713  0.564487  0.380153
2017-09-23 -1.930729 -0.009231  0.599919  1.115769
2017-09-24  0.068855  2.064873  0.043563  0.436460
2017-09-25  0.347525  0.190831  1.473901 -1.498548
2017-09-26 -1.449925 -0.691394  0.438989 -1.045278

[1000 rows x 4 columns]

In [6]:
df.rolling(window = 2).mean()

                   A         B         C         D
2015-01-01       NaN       NaN       NaN       NaN
2015-01-02  0.065865  1.618145 -0.019015 -0.711745
2015-01-03  0.044255  2.208660  1.131817 -0.389093
2015-01-04 -0.723949  0.222809  0.307552  0.099880
2015-01-05  0.303666 -0.442010 -1.251979  0.887774
...              ...       ...       ...       ...
2017-09-22  0.989451 -0.667101  0.364742  0.253308
2017-09-23 -0.154301 -0.453472  0.582203  0.747961
2017-09-24 -0.930937  1.027821  0.321741  0.776114
2017-09-25  0.208190  1.127852  0.758732 -0.531044
2017-09-26 -0.551200 -0.250281  0.956445 -1.271913

[1000 rows x 4 columns]